*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    background-color: #282A36;
}
.col1 {
    /* border: 1px solid black; */
    height: 100vh;
    width: 18%;
    background-color: #44475A;
    padding: 10px;
}
.col2 {
    border: 1px solid black;
    height: 100vh;
    width: 22%;
}
.col3 {
    border: 1px solid black;
    height: 100vh;
    width: 30%;
}
.col4 {
    border: 1px solid black;
    height: 100vh;
    width: 30%;
}
.header {
    /* border: 1px solid black; */
    height: 18%;
    width: 100%;
}
.content {
    height: 82%;
    width: 100%;
    overflow: scroll;
    padding: 10px;
}
.upper {
    /* border: 1px solid black; */
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #8BE9FD;
    font-weight: bold;
}
.lower {
    /* border: 1px solid black; */
    width: 100%;
    height: 50%;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
}
.rscript {
    /* width: 50%; */
    height: 50%;
    display: flex;
    gap: 10px;
}
.jscript {
    background-color: #50FA7B;
    width: 79px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 3px;
    font-size: small;
    font-weight: 400;
}
.addmore {
    width: 50%;
    height: 100%;
    color: #50FA7B;
    font-weight: medium;
}
.menu {
    /* border: 1px solid white; */
    width: 100%;
    height: 80%;
}
.footer {
    /* border: 1px solid white; */
    width: 100%;
    height: 20%;
}
.iconbox {
    /* border: 1px solid black; */
    height: 35px;
    width: 35px;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
.iconsect {
    /* border: 1px solid black; */
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    align-items: center;
    gap: 10px;
}
#settings-icon {
    background-color: #8BE9FD;
}
.settings {
    color: #8BE9FD;
    font-weight: bold;
}
#gists-icon {
    background-color: #50FA7B;
}
.gists {
    color: #50FA7B;
    font-weight: bold;
}
#stacks-icon {
    background-color: #FFB86C;
}
.stacks {
    color: #FFB86C;
    font-weight: bold;
}
#trend-icon {
    background-color: #FF79C6;
}
.trend {
    color: #FF79C6;
    font-weight: bold;
}
#scratch-icon {
    background-color: #BD93F9;
}
.scratch {
    color: #BD93F9;
    font-weight: bold;
}
#faq-icon {
    background-color: #F8F8F2;
}
.faq {
    color: #F8F8F2;
    font-weight: bold;
}
#rate-icon {
    background-color: #F1FA8C;
}
.rate {
    color: #F1FA8C;
    font-weight: bold;
}
.box1 {
    height: 90px;
    width: 100%;
    margin-bottom: 30px;
    border-bottom: none;
    border-right: none;
    border-top: none;
    border-left: 3px solid #44475A;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* align-items: center; */
    justify-content: flex-start;
}
#box1 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#box12 {
    height: 60px;
}
.text1{
    font-size: 13px;
    color: white;
    font-weight: bold;
}
.text2 {
    font-size: 13px;
    color: #8BE9FD;
    font-weight: bold;
}
.text3 {
    display: flex;
    gap: 10px;
    color: #5E72A4;
    font-size: 12px;
    font-weight: bold;
}
.text3b {
    color: #FF79C6;
}